@font-face {
    font-family: "Om-Botak";
    src: url("../assets/fonts/toleyhand.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Really-Free";
    src: url("../assets/fonts/really_free.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Om-Botak";
    src: url("../assets/fonts/OmBotak.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Salt-Rock";
    src: url("../assets/fonts/RockSalt.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Marker";
    src: url("../assets/fonts/marker.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Patrick-Hand";
    src: url("../assets/fonts/PatrickHand.ttf");
    font-weight: normal;
    font-style: normal;
}



