@font-face {
    font-family: "Om-Botak";
    src: url("../assets/fonts/toleyhand.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Really-Free";
    src: url("../assets/fonts/really_free.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Om-Botak";
    src: url("../assets/fonts/OmBotak.ttf");
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

// font-family: 'Rubik Moonrocks', cursive;