@font-face {
    font-family: "Om-Botak";
    src: url("../assets/fonts/toleyhand.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Really-Free";
    src: url("../assets/fonts/really_free.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Om-Botak";
    src: url("../assets/fonts/OmBotak.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Salt-Rock";
    src: url("../assets/fonts/RockSalt.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Marker";
    src: url("../assets/fonts/marker.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Patrick-Hand";
    src: url("../assets/fonts/PatrickHand.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cormorant-Garamond";
    src: url("../assets/fonts/CormorantGaramond.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../assets/fonts/Roboto-Light.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../assets/fonts/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
