@import '../colors.scss';
@import '../fonts.scss';


.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
    top: 60px;
    right: 6px;
    z-index: 10;
}

.profile-icon:hover .dropdown-content {
    background-color: $tan;
    display: block;
}

.profile-icon {
    background-image: url('../../assets/images/user_prof.png');
    background-size: contain;
    width: 44px;
    height: 44px;
    margin-right: 20px;
    cursor: pointer;
}

.dropdown-content a {
    font-family: 'Really-Free';
    color: $coral;
    font-size: 32px;
    margin: 12px 0px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0px 8px;
    border-bottom: 1px solid $bronze;
}

a:hover {
    opacity: 0.7;
    transition: 0.2;
}

.logout-btn {
    background-color: inherit;
    border: 2px solid $champ;
    border-radius: 8px;
    cursor: pointer;
    color: $coral;
    height: 40px;
    width: 100px;
    margin-right: 14px;
    margin-top: 14px;
    font-family: 'Really-Free';
    font-size: 32px;
}

.logout-btn:hover {
    opacity: 0.7;
    transition: 0.2;
}

