@import '../../stylesheets/general.scss';
@import '../../stylesheets/colors.scss';

.btn {
    background: $coral;
    margin-bottom: 16px;
    border: none;
    border-radius: 8px;
    height: 80px;
    width: 100px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    color: $turq;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $tan;
    width: 100%;
}