// test.js - construct a card
@import '../colors.scss';
@import '../fonts.scss';

.card {
  float: left;
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
  background-color: #fff;
  color: $title;
  height: 140px;
  width: 100px;
  font-family: 'Marker';
  font-size: 16px;
  cursor: pointer;
}

.blank-square {
  height: 140px;
  width: 100px;;
  background-color: $champ;
  margin: 4px;
}

.card-number {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 56px;
  z-index: 1;
}

.top-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.small-bull {
  margin: auto;
  align-content: center;
}

.small-bulls-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  transform: rotate(180deg) scaleX(-1);
}

.gi-bull-icon {
  color: red;
  height: 100px;
  width: 100px;
  margin-top: 10px;
}

.player-stats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 28px;
}

.player-container {
  margin-left: 10px;
}
