@import '../colors.scss';
@import '../fonts.scss';

.grid-container {
  display: flex;
  margin: 0px 10px;
  max-width: 666px;
}

.game-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
}

.row-container {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}