@import '../colors.scss';
@import '../fonts.scss';

.scoreboard-container {
  width: 15%;
  height: 500px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: $champ;
  font-family: 'Really-Free';
  font-size: 32px;

  h1 {
    text-align: center;
  }
}

.player-container {
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
}

.player-stats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 28px;
}
