@import '../colors.scss';
@import '../fonts.scss';

.search-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.select-game-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 220px;
}

.six-game-logo {
  height: 200px;
  width: 200px;
  margin: 8px 8px;
  background-color: rgb(245, 167, 167);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.freq-game-logo {
  height: 200px;
  width: 200px;
  margin: 8px 8px;
  background-color: rgb(244, 244, 152);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.gi-bull-top-left {
  color: red;
  position: absolute;
  left: 2px;
}

.gi-bull-top-right {
  color: red; 
  position: absolute;
  right: 2px;
}

.gi-bull-bot-left {
  color: red;
  position: absolute;
  left: 2px;
  bottom: 2px;
}

.gi-bull-bot-right {
  color: red;
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.freq-game-logo > h1 {
  text-align: center;
  color: tan;
  font-size: 32px;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.774);

  
}

.tile-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

.selected {
  outline: 3px solid $seaweed;
}

.six-title-tile {
  font-family: "Marker";
  font-size: 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-35deg);
  color: red;
  max-width: 100%;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.774);

}

.six-title-wrapper {
  height: 50px;
  max-width: 200px;
}

.flex {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 48px;
  }
}

.lobby-background {
    background-image: url(../../assets/images/game_table.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    font-family: "Really-Free";
    min-height: 100vh;
    font-size: 32px;
    color: $text;
    width: 100%;

    .lobby-head {
      font-size: 52px;
      text-align: center;
      text-decoration: underline;
      cursor: default;
    }

    #logo {
      font-size: 52px;
      font-family: "Om-Botak";
      color: $coral;
    }
}

.create-room, .search-rooms {
  display: flex;
  width: 72%;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  background-color: $tan;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  
  .create-room-input {
    height: 40px;
    width: 500px;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    border-radius: 8px;
    text-indent: 20px;
    font-family: "Really-Free";
    font-size: 28px;
    
    &::placeholder {
      font-size: 28px;
    }

    &:focus {
      outline: none;
    }

  }

  .create-btn {
    margin-left: 10px;
    background-color: $seaweed;
    height: 40px;
    width: 100px;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    border: none;
    font-family: "Really-Free";
    font-size: 32px;
    cursor: pointer;
  }

}

.search-room-input {
  height: 20px;
  width: 250px;
  font-family: "Really-Free";
  font-size: 22px;
}

.search-title {
  text-align: center;
  font-size: 34px;
}

.lobby-rooms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: center;
  width: 80%;
  margin: auto;

  .room-container {
    height: 300px;
    width: 300px;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 20px;
    position: relative;

    h1 {
      text-align: center;
      margin-top: 22px;
      font-size: 52px;
      color: #000018;
    }

    h2 {
      display: flex;
      justify-content: center;
    }

    li {
      margin-left: 10px;
    }

    .join-btn {
      position: absolute;
      top: 78%;
      left: 50%;
      transform: translate(-50%, 0);
      height: 26px;
      width: 140px;
      border-radius: 12px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
      border: none;
      font-family: "Really-Free";
      font-size: 32px;
      cursor: pointer;
    }

    .delete-btn {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, 0);
      background: none;
      color: $text;
      height: 26px;
      width: 140px;
      border: none;
      font-family: "Really-Free";
      font-size: 28px;
      cursor: pointer;
    }

    .delete-btn:hover {
      opacity: 0.7;
    }
  }

  .freq-teams {
    display: flex;
    justify-content: space-evenly;

    .red, .blue {
      text-align: center;
      text-decoration: underline;
      color: $title;
    }

    .red {
      color: red;
    }

    .blue {
      color: blue;
    }
  }

  @for $i from 1 through length($colors) {
    .room-container:nth-child(#{length($colors)}n+#{$i}) {
      background: nth($colors, $i)
    }
  }
}

.lobby-navbar {
  display: block;
  width: 72%;
  margin: auto;
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 0 0.5rem;
}

.lobby-navlist {
  display: flex;
  font-size: 42px;
  font-weight: 700;
  max-width: 500px;
  justify-content: space-between;
}

.new-lobby-rooms {
  width: 72%;
  margin: auto;
  background-color: $tan;
  box-sizing: border-box;
  padding: 1rem 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.new-rooms-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.roomCard-item {
  display: grid;
  padding: 0 .5rem;
  height: 120px;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 120px 1fr 100px;
  grid-template-areas: 
    "icon description links"
    "icon users-list links";
  background-color: $champ;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
}

.roomCard-icon {
  grid-area: icon;
}

.roomCard-description {
  grid-area: description;
}

.roomCard-users-list {
  grid-area: users-list;
  display: flex;
  column-gap: 2rem;
}

.roomCard-user-item {
  display: flex;
  column-gap: 0.2rem;
}

.roomCard-user-avatar {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $seaweed;
  border: none;
  border-radius: 50%; 
}

.roomCard-links {
  grid-area: links;
}

.six-game-logo-small, .freq-game-logo-small  {
  height: 100px;
  width: 100px;
  margin: 8px 8px;
  border-radius: 10px;
  position: relative;
}

.six-game-logo-small {
  background-color: rgb(245, 167, 167);
}
.freq-game-logo-small  {
  background-color: rgb(244, 244, 152);
}

.freq-game-logo-small > h1 {
  text-align: center;
  color: tan;
}

.game-small-title {
  font-size: 22px;
}

.small-icon{
 width: 20px;
 height: 20px;
}

