@import '../colors.scss';
@import '../fonts.scss';

.lobby-background {
    background-image: url(../../assets/images/game_table.jpg);
    background-repeat: repeat-y;
    font-family: "Really-Free";
    font-size: 32px;
    color: $text;
    width: 100%;
}

.create-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div:first-child {
    font-size: 62px;
    font-weight: 600;
    font-family: 'Really-Free';
    margin-top: 10px;
    padding-right: 100px;
    color: $title;
  }

  .create-room-input {
    height: 40px;
    width: 500px;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
  }

  .create-room-input:focus {
    outline: none;
    font-family: 'Really-Free';
    font-size: 32px;
    
  }

  .create-btn {
    margin-left: 10px;
    background-color: $seaweed;
    height: 40px;
    width: 100px;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    border: none;
    font-family: "Really-Free";
    font-size: 32px;
    cursor: pointer;
  }

}

.lobby-rooms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: center;
  width: 80%;
  margin: auto;

  .room-container {
    height: 300px;
    width: 300px;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 20px;
    position: relative;

    h1 {
      text-align: center;
      margin-top: 22px;
      font-size: 52px;
      color: #000018;
    }

    li {
      margin-left: 10px;
    }

    .join-btn {
      position: absolute;
      top: 82%;
      left: 50%;
      transform: translate(-50%, 0);
      height: 30px;
      width: 100px;
      border-radius: 12px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
      border: none;
      font-family: "Really-Free";
      font-size: 32px;
      cursor: pointer;
    }
  }

  @for $i from 1 through length($colors) {
    .room-container:nth-child(#{length($colors)}n+#{$i}) {
      background: nth($colors, $i)
    }
  }
}


