@import '../colors.scss';
@import '../fonts.scss';

.search-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.select-game-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 220px;
}

.six-game-logo {
  height: 200px;
  width: 200px;
  margin: 8px 8px;
  background-color: rgb(245, 167, 167);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

}

.freq-game-logo {
  height: 200px;
  width: 200px;
  margin: 8px 8px;
  background-color: rgb(244, 244, 152);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

}

.gi-bull-top-left {
  color: red;
  position: absolute;
  left: 2px;
}

.gi-bull-top-right {
  color: red; 
  position: absolute;
  right: 2px;
}

.gi-bull-bot-left {
  color: red;
  position: absolute;
  left: 2px;
  bottom: 2px;
}

.gi-bull-bot-right {
  color: red;
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.freq-game-logo > h1 {
  text-align: center;
  color: tan;
  font-size: 32px;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.774);
}

.tile-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;

}

.selected {
  outline: 3px solid $seaweed;
}

.six-title-tile {
  font-family: "Marker";
  font-size: 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-35deg);
  color: red;
  max-width: 100%;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.774);

}

.six-title-wrapper {
  height: 50px;
  max-width: 200px;
}

.flex {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 48px;
  }
}

.right-side-flex {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 48px;
  }

  justify-content: space-between;
}

.lobby-background {
    background-image: url(../../assets/images/game_table.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    font-family: "Really-Free";
    min-height: 100vh;
    font-size: 32px;
    color: $text;
    width: 100%;

    .lobby-head {
      font-size: 52px;
      text-align: center;
      text-decoration: underline;
      cursor: default;
    }

    #logo {
      font-size: 52px;
      font-family: "Om-Botak";
      color: $coral;
    }
}

.create-room {
  display: flex;
  width: 72%;
  margin: auto;
  box-sizing: border-box;
  padding: 0 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: $tan;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  
  .create-room-input {
    height: 40px;
    width: 500px;
    border: none;
    box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    border-radius: 8px;
    text-indent: 20px;
    font-family: "Really-Free";
    font-size: 28px;
    
    &::placeholder {
      font-size: 28px;
    }

    &:focus {
      outline: none;
    }

  }

  .create-btn {
    margin-left: 10px;
    color: $text;
    background-color: $seaweed;
    height: 40px;
    width: 100px;
    border-radius: 12px;
    box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.4);
    border: none;
    font-family: "Really-Free";
    font-size: 32px;
    text-shadow: 1px 1px .5px rgba(146, 161, 151, 0.836);
    cursor: pointer;
  }

  .create-btn:hover {
    background-color: #6bc597;
  }
  

}

.create-room-errors{
  color: red;
}

.search-room-input {
  height: 30px;
  width: 300px;
  border: none;
  box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  border-radius: 8px;
  text-indent: 20px;
  font-family: "Really-Free";
  font-size: 28px;
}

.search-title {
  font-size: 34px;
}

.lobby-rooms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.lobby-navbar {
  display: block;
  width: 72%;
  margin: auto;
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 0 0.5rem;
  text-shadow: 2px 2px 2px rgba(255, 245, 233, 0.658);

}

.lobby-navlist {
  display: flex;
  font-size: 42px;
  font-weight: 700;
  max-width: 500px;
  justify-content: space-between;
}

.navlink-selected{
  border-bottom: 2px solid rgba(112, 112, 112, 0.774);
}

.new-lobby-rooms {
  width: 72%;
  margin: auto;
  background-color: $champ;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 1rem 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.room-status-navbar {
  display: block;
  width: 72%;
  margin: auto;
  box-sizing: border-box;
  text-shadow: 2px 2px 2px rgba(255, 245, 233, 0.658);
}

.room-status-navlist {
  display: flex;
  max-width: 350px;
  justify-content: space-between;
}

.room-status-navlist-item {
  width: 100%;
  display: flex;
  padding: 0 0.5rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  justify-content: center;
}

.room-status-navlist-item:hover {
  cursor: pointer;
  background-color: #ffffff56;
}

.new-rooms-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.roomCard-item {
  display: grid;
  padding: 0 .5rem;
  height: 120px;
  border-radius: 3px;
  column-gap: 1rem;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 120px 1fr 130px;
  grid-template-areas: 
    "icon description links"
    "icon users-list links";
  background-color: $tan;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
}

.roomCard-icon {
  grid-area: icon;
}

.roomCard-description {
  grid-area: description;
  font-size: 40px;
}
.roomCard-description-subtext {
  font-size: 26px;
}

.roomCard-users-list {
  grid-area: users-list;
  display: flex;
  column-gap: 3rem;
}

.roomCard-user-item {
  display: flex;
  align-items: center;
  height: 50px;
  column-gap: 0.5rem;
}

.roomCard-user-avatar {
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $seaweed;
  border: none;
  border-radius: 50%; 
}

.roomCard-user-handle{
  font-size: 30px;
}

.roomCard-user-handle:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(133, 129, 129, 0.575);
}

.roomCard-user-rating{
  font-weight: 300;
  font-size: 22px;
}

.roomCard-links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.join-room-button {
  background-color: $seaweed;
  padding: .5rem .8rem;
  border-radius: .5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: $text;
  text-shadow: 1px 1px .5px rgba(146, 161, 151, 0.836);
}

.join-room-button:hover {
  background-color: #6bc597;
}

.delete-room-button {
  color: rgb(247, 43, 43);
}

.delete-room-button:hover {
  cursor: pointer;
  text-shadow: 1px 1px .5px rgba(185, 211, 216, 0.836);
}

.six-game-logo-small, .freq-game-logo-small  {
  height: 100px;
  width: 100px;
  margin: 8px 8px;
  border-radius: 10px;
  position: relative;
}

.six-game-logo-small {
  background-color: rgb(245, 167, 167);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.freq-game-logo-small  {
  background-color: rgb(244, 244, 152);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.freq-game-logo-small > h1 {
  text-align: center;
  color: tan;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.774);
}

.game-small-title {
  font-size: 22px;
}

.small-icon{
 width: 20px;
 height: 20px;
}

.ellipsis {
  min-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}