// test.js - construct a card
@import '../colors.scss';
@import '../fonts.scss';

.card {
  float: left;
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
  background-color: #fff;
  color: $title;
  height: 110px;
  width: 70px;
  font-family: 'Marker';
  font-size: 12px;
  box-shadow: 3px 3px 6px rgba(20, 20, 20, 0.555);
  cursor: pointer;
}

.chosen {
  outline: 4px solid $coral;
}

.blank-square {
  height: 110px;
  width: 70px;;
  background-color: $champ;
  margin: 4px;
}

.card-number {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 36px;
  z-index: 1;
}

.top-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.small-bull {
  margin: auto;
  align-content: center;
}

.small-bulls-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  transform: rotate(180deg) scaleX(-1);
}

.gi-bull-icon {
  color: red;
  height: 70px;
  width: 70px;
  margin-top: 20px;
}


