@import '../colors.scss';
@import '../fonts.scss';

.helper-detail {
  position: absolute;
  top: 85%;
  right: 10%;
}

.game-flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.game-background {
  background-image: url('../../assets/images/game_table.jpg');
  background-repeat: repeat-y;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.game-container {
  display: flex;
  justify-content: space-between;
}

.grid-selected-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.game-state-description {
  font-size: 20px;
  font-family: 'Marker';
  background-color: #fff;
  height: 28px;
  text-align: center;
}

.board-container {
  display: flex;
  flex-direction: column;
  margin-left: 0px 10px;
  max-width: 1040px;
  width: 55%;
}

.hand-container {
  background-color: $champ;
  margin-left: 10px;
  margin-bottom: 10px;
}

.bull-logo {
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  opacity: 0.2;
}

.card-container {
  display: block;
}

.ai-star-icon {
  color: #ff9933;
}

.six-title {
  font-size: 80px;
  font-family: "Marker";
  color: red;
  position: absolute;
  opacity: 0.5;
  top: 40%;
  left: 49%;
  transform: translate(-50%, 0) rotate(-35deg);
}