@import '../colors.scss';
@import '../fonts.scss';

.room-page-container {
    background-image: url('../../assets/images/game_table.jpg');
    background-repeat: repeat-y;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.join-btn {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 26px;
    width: 140px;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    border: none;
    font-family: "Really-Free";
    font-size: 32px;
    cursor: pointer;
}

.seat-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seat-btn-1 {
    background-color: $seaweed;
    height: 30px;
    width: 140px;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: none;
    font-family: "Really-Free";
    font-size: 32px;
    cursor: pointer;
    color: $text;
    margin: 0px 4px;
}

.seat-btn-2 {
    background-color: $coral;
    height: 30px;
    width: 140px;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: none;
    font-family: "Really-Free";
    font-size: 32px;
    cursor: pointer;
    color: $text;
    margin: 0px 4px;
}

.start-game-btn {
    width: 288px;
    height: 52px;
    background-color: $champ;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: none;
    font-family: "Really-Free";
    font-size: 40px;
    cursor: pointer;
    margin-bottom: 12px;
    color: $seaweed;

    &:hover {
        transform: scale(1.05);
        transition: 0.1s ease-out;
    }
}

.sit-get-btns {
    display: flex;
    margin-bottom: 12px;
}

.room-title {
    font-family: 'Om-Botak';
    font-size: 50px;
    color: $text;
    margin: 12px auto;
}

.room-errors{
    font-family: 'Roboto';
    color: rgb(163, 0, 0);
}

.chat-wrapper {
    display: flex;
    justify-content: center;
    font-family: 'Really-Free';
    color: $text;
}

.chat-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.users-box {
    background-color: #fff;
    opacity: 0.9;
    height: 100%;
    width: 200px;
    border: 2px solid $seaweed;
    font-size: 24px;

    li {
        padding: 4px 4px;
        font-size: 36px;
    }
}

.users-header {
    font-size: 32px;
    margin-bottom: 8px;
    background-color: #fff;
    border: 2px solid $seaweed;
    width: 100%;
    text-align: center;
}

.chat-area {
    width: 600px;
    height: 400px;
    background-color: #fff;
    opacity: 0.9;
    border: 2px solid $coral;
    font-size: 30px;
    overflow: auto;
}

.chat-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    span:first-child {
        font-size: 28px;
    }

    input {
        width: 55%;
        margin-left: 10px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
        border: none;
        height: 32px;
        border-radius: 6px;
        font-family: "Really-Free";
        font-size: 24px;
        text-indent: 6px;

        &:focus {
            outline: none;
        }

    }

    :last-child {
        width: 70px;
        height: 30px;
        background-color: $bronze;
        border-radius: 12px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        border: none;
        font-family: "Really-Free";
        font-size: 28px;
        cursor: pointer;
        color: $text;
    }
}

.team-header {
    font-size: 44px;
}

.red {
    color: red;
} 

.blue {
    color: blue;
}

.teams-wrapper {
    display: flex;

    > div:first-child {
        margin-right: 20px;
        border-right: 1px solid $bronze;
        padding-right: 20px;
    }

    div:nth-child(2) {
        margin-right: 20px;
    }
}

.team-container {
    margin-bottom: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team-player {
    font-size: 28px;
    margin-top: 8px;
    margin-left: 12px;
}

.leave-btn {
    background-color: $tan;
    height: 30px;
    width: 140px;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 2px solid $coral;
    font-family: "Really-Free";
    font-size: 32px;
    cursor: pointer;
    color: $text;
    margin: 4px 4px;
}

.join-red-btn {
    background-color: rgb(234, 114, 95);
    height: 30px;
    width: 140px;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 2px solid $coral;
    font-family: "Really-Free";
    font-size: 32px;
    cursor: pointer;
    color: $text;
    margin: 4px 4px;
}

.join-blue-btn {
    background-color: rgb(138, 172, 241);
    height: 30px;
    width: 140px;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 2px solid $coral;
    font-family: "Really-Free";
    font-size: 32px;
    cursor: pointer;
    color: $text;
    margin: 4px 4px;
}