.mountain-background {
  position: relative;
  background-image: url(../../assets/images/mountain2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 800px;
  width: 1200px;
}
.rope-container{
  position: absolute;
  bottom: 100px;
  left: 255px;
  display: flex;
  align-items: flex-end;
  column-gap: 3.5rem;
}

.rope {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/images/rope5.svg);
  background-size: contain;
  background-repeat:repeat-y;
  row-gap: 35px;
  width: 7px;
}

.rope-size-3 {
  height: 130px;
}
.rope-size-5{
  height: 240px;
}
.rope-size-7 {
  height: 350px;
}
.rope-size-9 {
  height: 460px;
}
.rope-size-11 {
  height: 570px;
}
.rope-size-13 {
  height: 680px;
}

.rope-top {
  font-family: 'Really-Free';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: white;
  background-color: rgb(10, 99, 134);
  border: 2px solid rgb(248, 248, 248);
  height: 28px;
  width: 28px;
  box-sizing: border-box;
  border-radius: 50%;
  padding-bottom: 5px;
}
.marker {
  font-family: 'Really-Free';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  background-color: rgb(248, 245, 204);
  border: 1px solid rgb(10, 99, 134);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  padding-bottom: 5px;
}

.player-marker {
  position: absolute;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.521);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  padding-bottom: 5px;
}

.face {
  display: grid;
  background-color: #efefef;
  margin: 16px;
  padding: 4px;
  width: 104px;
  height: 104px;
  box-shadow: inset 0 5px white,
    inset 0 -5px #bbb,
    inset 5px 0 #d7d7d7, 
    inset -5px 0 #d7d7d7;
  border-radius: 10%;
  margin: 16px;
	padding: 10px;
  grid-template-areas: 
      "a . c"
      "e g f"
      "d . b";
}

.pip {
  display: block;
  align-self: center;
	justify-self: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px;
  background-color: #333;
  box-shadow: 1px 1px 2px #111;
}

.pip:nth-child(2) {
  grid-area: b;
}

.pip:nth-child(3) {
  grid-area: c;
}

.pip:nth-child(4) {
  grid-area: d;
}

.pip:nth-child(5) {
  grid-area: e;
}

.pip:nth-child(6) {
  grid-area: f;
}

.pip:nth-child(odd):last-child {
	grid-area: g;
}