// test.js - construct a card
.board-background {
  height: 100vh;
  background-image: url('../../assets/images/game_table.jpg');
  position: relative;
}

.hand-container {
  height: 200px;
  max-width: fit-content;
  background-color: $bronze;
  opacity: 0.8;
}

.bull-logo {
  top: 50%;
  left: 50%;
  position: absolute;
}

.card-container {
  display: block;
  margin-left: 10px;
}

.card {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
  background-color: #fff;
  opacity: 0.9;
  height: 160px;
  width: 100px;
  font-family: 'Salt-Rock';
  font-size: 10px;
}

.card-number {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 42px;
  z-index: 1;
}

.top-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.small-bull {
  margin: auto;
  align-content: center;
  padding: 0px -4px;
}

.small-bulls-container {
  display: flex;
  flex-wrap: wrap;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: rotate(180deg) scaleX(-1);
}