@import '../colors.scss';
@import '../fonts.scss';

.profile-container {
    height: 100vh;
    width: 100%;
    color: $text;
    background-repeat: no-repeat;
    background-size: cover;
}

.separator {
    button {
        border: 2px solid $coral;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        color: $text;
        margin-left: 10px;
        margin-top: 4px;
    }
}

.separator {
    height: 30px;
    width: 100%;
}

.profile-inner-container {
    display: grid;
    grid-template-columns: 1fr minmax(320px, 1180px);
    column-gap: 30px;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    height: 90%;
}

.profile-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    height: 550px;
    min-width: 500px;
    padding-bottom: 10px;
    background-color: $tan;
    font-family: 'Really-Free';
    font-size: 48px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.5);

    input[type=text] {
        font-family: 'Om-Botak';
        font-size: 32px;
        background: #fff;
        border: none;
        border-radius: 10px;
        color: $text;
        text-align: center;
        cursor: auto;
        outline: none;
        margin-bottom: 8px;

        &:disabled {
            background: none;
        }
    }

    textarea {
        border: none;
        padding: 10px;
        color: $text;
        border-radius: 10px;
        background-color: #f8f8ff;
        resize: none;
        overflow: scroll;
    }

    textarea:focus, input:focus {
        outline: none !important;
    }
    
}

.prof-elo-wrapper {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;

    h1 {
        text-decoration: underline;
        
    }
}

.avatar-image {
    margin: 6px 0px;
    display: flex;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: $seaweed;
    border-radius: 50%;
    position: relative;
}

.profile-avatar {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $seaweed;
    border: none;
    border-radius: 50%;
}

#profile-email {
    font-size: 22px;
    color: $coral;
}


.edit-avatar-btn {
    background: none;
    border: none;
    font-family: 'Really-Free';
    color: $coral;
    font-size: 32px;
    position: absolute;
    top: 80%;
    left: 82%;
    cursor: pointer;
    line-height: 0.6;
    outline: none;
}

.profile-edit-btn {
    background-color: inherit;
    border: 2px solid $seaweed;
    border-radius: 8px;
    color: $coral;
    height: 40px;
    width: 200px;
    margin-right: 14px;
    margin-top: 14px;
    font-family: 'Really-Free';
    font-size: 32px;
    cursor: pointer;
}

.profile-edit-btn:hover {
    background-color: $seaweed;
    color: white;
    transition: 0.2s;
}

.profile-save-btn {
    background-color: $seaweed;
    border: 2px solid $coral;
    border-radius: 8px;
    color: #fff;
    height: 40px;
    width: 100px;
    margin-right: 14px;
    margin-top: 14px;
    font-family: 'Really-Free';
    font-size: 32px;
    cursor: pointer;
}

.profile-save-btn:hover {
    opacity: 0.9;
    transition: 0.2s;
}

.profile-edit-btn:focus, .profile-save-btn:focus {
    border: $coral;
}

.profile-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    height: 500px;
    width: 500px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        text-align: center;
        font-family: 'Om-Botak';
        font-size: 36px;
    }

    div:nth-child(4n + 1) {
        background-color: $tan;
    }

    div:nth-child(4n + 2) {
        background-color: $coral;
    }

    div:nth-child(4n + 3) {
        background-color: $turq;
    }

    #prize {
        background-color: $bronze;
    }

    div:nth-child(4n + 4) {
        background-color: $champ;
    }

    div:nth-child(4n + 5) {
        background-color: $seaweed;
    }

}

.background-btn {
    background-color: $tan;
    &:hover {
        opacity: 0.8;
    }
}

.space-earth-btn {
    background-color: $seaweed;
}

.hidden {
    display: none;
}

.profile-addFriend {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 5px;
    right: 20px;
    font-size: 32px;
}

.profile-removeFriend {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 8px;
    left: 15px;
    font-size: 26px;
}

.friendship-small-text {
    font-size: 26px;
}

.hover-click:hover {
    cursor: pointer;
}

.friends-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 550px;
}

.friendship-headers {
    display: flex;
}

.friendship-header-tab {
    padding: .2rem 1rem .5rem 1rem;
    color: $coral;
    font-family: 'Really-Free';
    font-size: 38px;
    font-weight: 700;
    background-color: $tan;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.friendship-header-tab:hover {
    cursor: pointer;
}

.friendship-header-notselected {
    background-color: rgb(233, 214, 186);
}

.no-hover:hover {
    cursor: default;
}

.friends-list {
    box-sizing: border-box;
    padding: 1rem 2rem;
    height: 100%;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.5);
    background-color: $tan;
}

.friends-flex-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
}

.userCard-container {
    font-family: 'Really-Free';
    width: 250px;
    height: 60px;
    padding: .5em;
    display: grid;
    border-radius: 3px;
    grid-template-columns: 60px 1fr auto;
    column-gap: .5rem;
    background-color: $champ;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
}

.userCard-container:hover {
    cursor: pointer;
    box-shadow: 0px 1px 8px 2px rgba(52, 152, 219, 0.796);
}

.userCard-avatar {
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $seaweed;
    border: none;
    border-radius: 50%; 
}

.userCard-info {
    font-size: 28px;
    font-weight: 700;
}

.userCard-bio {
    font-size: 22px;
    font-weight: 500;
}

.friendship-status {
    font-size: 22px;
    border-radius: .2rem;
    padding: .2rem;
    height: 20px;
}

.friendship-red {
    color: rgb(247, 43, 43);
} 

.friendship-green {
    color: $seaweed;
} 

.friendship-blue {
    color: #3498db;
} 

.friendship-status:hover {
    background-color: rgba(65, 65, 65, 0.2);
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 28px;
    height: 28px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

 .unfriend-modal{
    position:fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(228, 228, 228, 0.336);
 }

 .unfriend-modal-content {
    position: relative;
    padding: 2rem;
    background-color: $tan;
    font-size: 36px;
    width: 350px;
    margin: 180px 8%;
    box-shadow: 2px 2px 5px black;
 }

 .unfriend-modal-buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
    font-size: 32px;
 }

 .friendship-modal-button:hover {
     cursor: pointer;
     text-shadow: 1px 1px .5px rgba(185, 211, 216, 0.836);
 }

 